:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  height: 100vh;                  /* full viewport height */
  display: flex;                  /* enable flexbox */
  align-items: center;            /* vertical centering */
  justify-content: center;        /* horizontal centering */
  background: #c7cee1;
}


